// colorの定義
$primary: #F88658;
$secondary: #876050;
$secondaryOpacity: rgba(135, 96, 80, 0.3);
$background: #F9F5F2;
$backgroundCream: #faf4dc;
$backgroundYellow: #fce797;
$footer: #FDFAEF;
$text: #876050;
$white: #ffffff;

// font sizeの定義
$xs: 12px;
$sm: 14px;
$md: 16px;
$lg: 18px;
$x: 22px;
$xl: 24px;
$xxl: 44px;

// font familyの定義
$font-main: 'Helvetica Neue', sans-serif;

// font family
$font-mincho: 'Shippori Mincho', serif;
$font-gothic: 'Zen Kaku Gothic New', sans-serif;